pid=/var/run/stunnel.pid
cert=/etc/stunnel/stunnel.pem
output=/var/log/stunnel.log

{% for service in stunnel_services %}
[{{service.name}}]
  accept = {{service.accept}}
  connect= {{service.connect}}
{% endfor %}
