pid=/var/run/stunnel.pid
cert={{stunnel_cert_file}}
output=/var/log/stunnel.log

{% for service in stunnel_services %}
[{{service.name}}]
  accept = {{service.accept_port}}
  connect= {{service.connect_port}}
{% endfor %}

